
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
  display: flex;
  justify-content: space-between;
  
}
.product{
  font-weight: 700;
  font-size: 1.5rem;
  color: #3A3A3A;
}
.nav-link{
  display: flex;
}
.nav-item{
  list-style: none;
  margin-right: 34px;
}
.nav-link a{
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: #3A3A3A;
}
.navbar, .banner{
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
}
.banner-content{
  max-width: 580px;
  text-align: justify;

}
.banner-title{
  font-weight: 700;
  font-size: 3.25rem;
  color: #3A3A3A;
  margin-bottom: 16px;
  margin-top: 145px;
}
.btn-primary{
  background-color: #E02C6D;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 56px 10px 24px;
  border-radius: 40px;
  border: none;
}
.banner-description{
  font-weight: 600;
  font-size: 1rem;
  color: #3A3A3A;
}
.banner-image{
  max-width: 100%;
  margin-top: 80px;
  margin-left: 130px;
  background-image: url(../images/Circle\ design.svg);
}
.icon{
  max-width: 1110px;
  height: 110px;
  margin: 0 auto;
  margin-top: 100px;
}
.icon img{
  margin-right: 60px;
}
.popular{
  max-width: 1050px;
  height: 1660px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 197px;
}
.popular-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section-title{
  width: 260px;
  margin-top: 100px;
  margin-left: 405px;
  margin-right: 590px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.75rem;
  color: #3A3A3A;
  
}
.popular-card{
  
  gap: 30px;
  border-radius: 5px;
}
.small{
  color: #E02C6D;
  text-align: end;
}
.featured{
  max-width: 1110px;
  display: flex;
}
.featured-description{
  text-align: left;
}
.featured-section{
  max-width: 610px;
  margin-left: 150px;
}
.featured img{
  margin-left: 180px;
}
footer{
  max-width: 100%;
  height: 150px;
  background-color: #0A0825;
}
.footer-title{
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-bottom: 3px;
  margin-left: 8px;
}
.footer-description{
  color: #FFFFFF;
  font-weight: 600;
  font-size: .85rem;
  text-align: center;
  margin-top: 10px;
}
.footer-section{
  max-width: 260px;
  margin-left: 588px;
  margin-top: 100px;
  border: none;
}